[submodule "qd"]
	path = submodules/qd
	url = https://github.com/davidklaftenegger/qd_library.git
	branch = master
[submodule "googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
	branch = main
